<link rel="stylesheet" href="/css/alert.css">

<% if (success && success.length > 0) { %>
    <div class="alert" style="background-color: green;">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <%= success %>
    </div>
    <% } else if(error && error.length>0) { %>

        <div class="alert" style="background-color: red;">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <%= error %>
        </div>
        <% } %>